<footer>
    <div class="f-info footer">
        <div class="social-media-info">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
        <div class="company-name">
           &copy; Wanderlust Pvt. Ltd
        </div>
        <div class="f-info-links">
            <a href="">Privacy</a>
            <a href="">Terms</a>
            <a href="">Company details</a>

        </div>
    </div>
</footer>