<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row" style="font-size: 13px;">
        <div class="col-8 offset-2">
            <br>
            <h3>Create a new Listing</h3>
    <form method="POST" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data"> <!--we set enctype="multipart/form-data" because we want our form to be able to send files-->
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]"  class="form-control" required>
            <div class="invalid-feedback">Please enter the title</div>
            <div class="valid-feedback">Title looks good</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" name="listing[description]"  class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter the description</div>
        </div>
        <!-- <div class="mb-3">
            <label for="image" class="form-label">Image URL/link</label>
            <input type="text" name="listing[image]"  class="form-control">
        </div> -->

        <div class="mb-3">
            <label for="image" class="form-label">Upload image:</label>
            <input type="file" name="listing[image]"  class="form-control" required>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]"  class="form-control" required>
                <div class="invalid-feedback">Add the price</div>
            </div>
            
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]"  class="form-control" required>
                <div class="invalid-feedback">Please enter the country name</div>
            </div>

        </div>
       
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]"  class="form-control" required>
            <div class="invalid-feedback">Please enter the location</div>
        </div>
        <br>
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
    </div>
</div>
</body>